h1 {
    padding: 25px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}